In [1]:
ls=[1,2,3,4]
ls

[1, 2, 3, 4]

In [9]:
ls1=['SohamTirtha']
ls1

['SohamTirtha']

In [52]:
ls2=(::)

SyntaxError: invalid syntax (3681072403.py, line 1)

In [43]:
name='manasi'
name[::]

'manasi'

In [42]:
ls1=['soham']
ls2=['soham']
if ls1 == ls2:
    print('same')
else:
    print('not same')

same

In [46]:
ls = ['siddi']
ls

['siddi']

In [49]:
mahesh=list('soham99')
mahesh

['s', 'o', 'h', 'a', 'm', '9', '9']

In [51]:
ls1.append['213',1,2,3]
ls1
ls1=(::,-1)

SyntaxError: invalid syntax (2327660463.py, line 3)

In [56]:
ls1=list('soham')
ls1.append(['tirtha'])
ls1.append(['sotha'])
ls1

['s', 'o', 'h', 'a', 'm', ['tirtha'], ['sotha']]

In [84]:
ls=list('meet love vaishnavi')
ls

['m',
 'e',
 'e',
 't',
 ' ',
 'l',
 'o',
 'v',
 'e',
 ' ',
 'v',
 'a',
 'i',
 's',
 'h',
 'n',
 'a',
 'v',
 'i']

In [71]:
ls=[1,2,"mahesh"," pujari",1,3]
ls.insert(3,32)
ls

[1, 2, 'mahesh', 32, ' pujari', 1, 3]

In [78]:
ls.extend([8,9])
ls

[8, 9]

In [74]:
ls.pop()
ls

[1, 2, 'mahesh', 32, ' pujari', 1, 3, 8, 9, 8]

In [75]:
ls.remove(1)
ls

[2, 'mahesh', 32, ' pujari', 1, 3, 8, 9, 8]

In [76]:
ls.clear()
ls

[]

In [79]:
del ls[1:3]
ls

[8]

In [80]:
ls=[1,2,3]
min(ls)
max(ls)
sum(ls)

6

In [81]:
ls.reverse()
ls

[3, 2, 1]

In [83]:
ls=[10,2,46,34]
ls.sort(reverse=True)
ls

[46, 34, 10, 2]

In [85]:
ls=['i for i in range(0,20)']
ls

['i for i in range(0,20)']

In [102]:
t1=1,2,3
t2= 3,4,5
t3=t1+t2
t1=t1+t2
t1

(1, 2, 3, 3, 4, 5)